@model object

@{
    //ViewBag.Title = "title";
    //Layout = "_Layout";
}

<style>
    td {
        padding: 5px 10px;
        border: 1px solid #000;
    }
    th {
        text-align: left;
    }
</style>

<h1>API docs</h1>

<ul>
    <li>iwannaplay, getboard are GET</li>
    <li>move is PUT</li>
    <li>Parameters can be either headers or query string</li>
</ul>

<h2>Endpoints</h2>
<table>
    <thead>
    <tr>
        <th>Endpoint</th>
        <th>Purpose</th>
        <th>Parameters</th>
        <th>Returns</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>api/game/iwannaplay</td>
        <td>Queue you up to play a game</td>
        <td>PlayerKey, (optional) opponent</td>
        <td>The GameKey for the game you joined</td>
    </tr>
    <tr>
        <td>api/game/getboard</td>
        <td>Get the gameboard, will freeze request until it's your turn to perform a move</td>
        <td>PlayerKey, GameKey</td>
        <td>Current state of the game with provided GameKey</td>
    </tr>
    <tr>
        <td>api/game/move</td>
        <td>Update the state of the game</td>
        <td>PlayerKey, GameKey, x, y</td>
        <td>Error message if you did something wrong, otherwise OK</td>
        <td>To skip turn send x = -1, y = -1</td>
    </tr>
    </tbody>
</table>

<h2>Bots</h2>
<ul>
    <li>randy - The random bot</li>
</ul>

<h2>Response models</h2>
<h3>api/game/getboard</h3>
<p>
    public class Response<br />
    {<br />
    public int Turn { get; set; }<br />
    public char YourToken { get; set; }<br />
    public char[,] Board { get; set; }<br />
    public string State { get; set; }<br />
    public string PlayerOneScore { get; set; }<br />
    public string PlayerTwoScore { get; set; }<br />
    public List&lt;Move&gt; Moves { get; set; }<br />
    <br />
    public class Move<br />
    {<br />
    public char Disc { get; set; }<br />
    public int X { get; set; }<br />
    public int Y { get; set; }<br />
    }<br />
    }<br />
</p>
<h3>api/game/iwannaplay</h3>
<p>string</p>
<h3>api/game/move</h3>
<p>string</p>

<h2>Samples...</h2>
<ul>
    <li>api/game/iwannaplay?PlayerKey=asd&amp;opponent=randy</li>
    <li>api/game/getboard?PlayerKey=asd&amp;GameKey=a329fe5e-6334-4073-975c-0e25054ca5db</li>
    <li>api/game/move?PlayerKey=asd&amp;GameKey=a329fe5e-6334-4073-975c-0e25054ca5db&amp;x=1&amp;y=4</li>
</ul>